    <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{mac_addr}}</title>

    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename = 'csmapi_modified.js') }}"></script>
    <script src="{{ url_for('static', filename = 'SwitchSet.js') }}"></script>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'bootstrap/css/bootstrap-theme.min.css') }}" >
    <script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'bootstrap/css/bootstrap-toggle.min.css') }}">
    <script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap-toggle.min.js') }}"></script>
    
  </head>
  <body>
    <legend>
        <span class="text-success"> {{mac_addr}} </span>
        <button type="button" class="btn btn-danger close" aria-label="Close" onclick="dereg('{{mac_addr}}')"> <span aria-hidden="true">&times;</span> </button>
    </legend>

    {% for i in range(count) %}
    <div class="checkbox">
        <label>
	    <input  type="checkbox" data-toggle="toggle" id="Switch{{i+1}}">
	    <span class = "Switch{{i+1}} h2"> Switch{{i+1}} </span>
        </label>
    </div>
    {% endfor %}

    {% for i in range(count) %}
    <legend>Keypad1</legend>
    <button onclick="csmapi.push('IoTtalk_Control_Panel','','Keypad1',[1])">1</button>
    <button onclick="csmapi.push('IoTtalk_Control_Panel','','Keypad1',[2])">2</button>
    <button onclick="csmapi.push('IoTtalk_Control_Panel','','Keypad1',[3])">3</button> <br>
    <button onclick="csmapi.push('IoTtalk_Control_Panel','','Keypad1',[4])">4</button>
    <button onclick="csmapi.push('IoTtalk_Control_Panel','','Keypad1',[5])">5</button>
    <button onclick="csmapi.push('IoTtalk_Control_Panel','','Keypad1',[6])">6</button> <br>
    <button onclick="csmapi.push('IoTtalk_Control_Panel','','Keypad1',[7])">7</button>
    <button onclick="csmapi.push('IoTtalk_Control_Panel','','Keypad1',[8])">8</button>
    <button onclick="csmapi.push('IoTtalk_Control_Panel','','Keypad1',[9])">9</button> <br>
    <button onclick="csmapi.push('IoTtalk_Control_Panel','','Keypad1',[10])">*</button>
    <button onclick="csmapi.push('IoTtalk_Control_Panel','','Keypad1',[0])">0</button>
    <button onclick="csmapi.push('IoTtalk_Control_Panel','','Keypad1',[11)">#</button>  <br> <br>
    {% endfor %}
    
    {% for i in range(count) %}
    <legend>Keypad2</legend>
    <button onclick="csmapi.push('IoTtalk_Control_Panel','','Keypad2',[1])">1</button>
    <button onclick="csmapi.push('IoTtalk_Control_Panel','','Keypad2',[2])">2</button>
    <button onclick="csmapi.push('IoTtalk_Control_Panel','','Keypad2',[3])">3</button> <br>
    <button onclick="csmapi.push('IoTtalk_Control_Panel','','Keypad2',[4])">4</button>
    <button onclick="csmapi.push('IoTtalk_Control_Panel','','Keypad2',[5])">5</button>
    <button onclick="csmapi.push('IoTtalk_Control_Panel','','Keypad2',[6])">6</button> <br>
    <button onclick="csmapi.push('IoTtalk_Control_Panel','','Keypad2',[7])">7</button>
    <button onclick="csmapi.push('IoTtalk_Control_Panel','','Keypad2',[8])">8</button>
    <button onclick="csmapi.push('IoTtalk_Control_Panel','','Keypad2',[9])">9</button> <br>
    <button onclick="csmapi.push('IoTtalk_Control_Panel','','Keypad2',[10])">*</button>
    <button onclick="csmapi.push('IoTtalk_Control_Panel','','Keypad2',[0])">0</button>
    <button onclick="csmapi.push('IoTtalk_Control_Panel','','Keypad2',[11])">#</button>  <br> <br>
    {% endfor %}
    
    <script> 
        set_device_id('{{ mac_addr }}', {{count}});
        check_registerion_state('{{ mac_addr }}');
        output_dfs('{{ mac_addr }}');     
        output_selected_dfs('{{ mac_addr }}');
    </script>

  </body>
</html>
